.digitsContainer {
    display: grid;
    grid-template-areas:
    "clear divide mul backSpace"
    "seven eight nine subs"
    "four five six sum"
    "one two three equal"
    "zeros zeros dot equal";
    height: 28rem;
    width: 24rem;
}

.digitsStyle {
    margin: .125rem;
    border-radius: 6rem;
    padding: .5rem 1rem;
    // padding-right: 1rem;
    border: $borderColor .125rem solid;
    text-align: center;
    background-color: $calcColor;

    &:hover {
        background-color: $hoverColor;
    }
    &:active {
        background-color: $activeColor;
    }
}

.display {
    height: 7rem;
    width: 23.5rem;
    max-width: 28rem;
    border: $borderColor .125rem solid;
    border-radius: .5rem;
    background-color: $calcColor;
    margin: .125rem;
}

#text {
    position: absolute;
    right: 1rem;
    color: $mainColor;
    font-size: 4rem;
}

#subText {
    position: absolute;
    right: 1.25rem;
    top: 5.5rem;

    color: $mainColor;
    font-size: 1.75rem;
}



// Assign each digit a a grid-area indicator

#one {
    grid-area:one;
}
#two {
    grid-area:two;
}
#three {
    grid-area:three;
}
#four {
    grid-area:four;
}
#five {
    grid-area:five;
}
#six {
    grid-area:six;
}
#seven {
    grid-area:seven;
}
#eight {
    grid-area:eight;
}
#nine {
    grid-area:nine;
}
#zero {
    grid-area:zeros;
}
#sum {
    grid-area:sum;
}
#substract {
    grid-area:subs;
}
#multiply {
    grid-area:mul;
}
#divide {
    grid-area:divide;
}
#backSpace {
    grid-area:backSpace;
}
#dot {
    grid-area:dot;
}
#equal {
    grid-area:equal;
}
#clear {
    grid-area:clear;
}