// Variables
$mainColor: rgba(0, 0, 0, 0.7);
$backColor: #88d4e6;
$borderColor: rgba(0, 0, 0, 0.35);
$calcColor:#e59a4c;
$calcBackColor:rgba(0, 0, 0, 0.8);
$hoverColor: rgba(229, 154, 76, 0.8);
$activeColor: rgba(229, 154, 76, 0.7);