html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}


h1 {
    margin: 1rem;
    position: absolute;
    right: 50%;
    transform: translateX(50%)
}