.form {
    top: 15vh;
    position: fixed;
    border: 1px solid black;
    min-width: 20rem;
    height: 70vh;
    text-align: center;

    h2 {
        padding-top: 1rem;
    }
    label {
        font-size: 1rem;
    }
}