@media only screen and (max-width: 59rem) {
    #newBar {
        max-width: 35rem;
        width: 80%;
        min-width: 19rem;
    }

    #popBar {       
        max-width: 35rem;
        width: 82%;
        height: 20rem;
    }

    #titleInput {
        width: calc(100% - 12rem);
        height: 3rem;
    }


    #textArea {
        height: 15rem;
    }

    .project {
        max-width: 25rem;
        width: 40vw;
        min-width: 20rem;
        margin: .5rem;
    }

}

@media only screen and (max-width: 48rem) {
    #popBar {
        height: 22rem;
    }
    .project {
        width: 90vw;
    }

    #titleInput {
        width: 100%;
    }

    #svgs2 {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: .25rem;
        top: .25rem;
    }
}