*{
    margin: 0;
    padding: 0;
}

// font-family: 'Shadows Into Light', cursive;
// font-family: 'Zen Loop', cursive;
// font-family: 'Zen Tokyo Zoo', cursive;

html {
    font-size: 16px;
    font-family: 'Zen Loop', cursive;
}

body {
    background-color: rgb(223, 223, 223);
}

.container {
    position:relative;
    left: 50%;
    transform: translate(-17.5rem);
}