header {
    width: 100%;
}
// nav {
//     margin: 0 auto;
//     width: 100%;
// }
#categoriesHeader {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.25rem;
    a:link, a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
        color: yellow;
    }
}

h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: .375rem;
    border-bottom: .075rem dotted black;
}