* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: #59585e;
  font-family: "STIX Two Math", serif;
}

#header {
  background-color: #ff9100;
  width: 100vw;
  height: 4rem;
  position: absolute;
}

#header h1 {
  font-size: 2rem;
  text-align: center;
  margin: .65rem 0;
}

#newBar {
  width: 35rem;
  height: 3rem;
  background-color: white;
  border-radius: .25rem;
  padding: .25rem;
  position: absolute;
  left: 50%;
  top: 6rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#placeHolder {
  font-size: 2rem;
  margin-top: .5rem;
  width: 92%;
  color: gray;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin-left: .5rem;
}

.svgs1 {
  width: 1.5rem;
  padding: .25rem;
}

.svgs1:hover {
  background-color: #a1a1a175;
  border-radius: 1rem;
}

.hidden {
  display: none;
}

.hasText {
  background-color: gray;
}

#popBar {
  width: 35rem;
  height: 15rem;
  background-color: #ff9100;
  border-radius: .25rem;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 6rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#titleInputLabel {
  font-size: 1.5rem;
}

#titleInput {
  width: 70%;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: .25rem;
  outline: none;
  padding-left: 0.5rem;
}

#textArea {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  border: none;
  border-radius: .25rem;
  outline: none;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.svgs2 {
  width: 1.5rem;
  padding: .25rem;
}

.svgs2:hover {
  background-color: #ffffff75;
  border-radius: 1rem;
}

#svgs2 {
  float: right;
}

.list {
  height: 1.5rem;
  width: 30rem;
  margin-left: 2rem;
  outline: none;
  border-radius: 0.25rem;
  border: none;
}

#projects {
  width: 100vw;
  height: 80vh;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  height: 15rem;
  width: 25rem;
  color: #d1cfdd;
  border: 2px solid #ff9100;
  border-radius: .25rem;
  margin: 2rem;
}

.project h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: .75rem 0 .5rem 0;
}

.project p {
  width: 90%;
  margin: auto;
  text-align: center;
}

.deleteBtn {
  padding: .5rem .675rem;
  margin: .5rem;
  color: #ff9100;
  background-color: #59585e;
  border: 1px solid #ff9100;
  border-radius: 1rem;
  outline: none;
  float: left;
}

.deleteBtn:hover {
  background-color: #ff9100;
  color: black;
}

@media only screen and (max-width: 59rem) {
  #newBar {
    max-width: 35rem;
    width: 80%;
    min-width: 19rem;
  }
  #popBar {
    max-width: 35rem;
    width: 82%;
    height: 30%;
  }
  #titleInput {
    width: 70%;
  }
  .project {
    max-width: 25rem;
    width: 40vw;
    min-width: 20rem;
    margin: .5rem;
  }
}

@media only screen and (max-width: 48rem) {
  .project {
    width: 90vw;
  }
  #titleInput {
    width: 100%;
  }
  #svgs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    right: .25rem;
    top: .25rem;
  }
}
/*# sourceMappingURL=style.css.map */