#alfredBtn {
    margin: 0 25%;
    font-size: medium;
    color: black;
    padding: .5rem .25rem;
    width: 60%;
    background-color: rgb(203, 204, 207);
    border: .25rem solid black;
    border-radius: .5rem;
}