* {
  margin: 0;
  font-size: 16px;
}

.gradient {
  width: 100vw;
  height: 100vh;
  // background-image: linear-gradient(white, rgb(92, 92, 255));
  background-image: linear-gradient(rgb(213, 188, 228), rgb(79, 50, 241));
}