.key {
    height: 3.5rem;
    border: 1px solid black;
    margin: .15rem .25rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0rem .25rem;
}

#zero {
    width: 211%;
}