* {
  margin: 0;
  font-size: 16px;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(white, rgb(92, 92, 255));
}

.calculatorSector {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculatorContainer {
  background-color: white;
  width: 27rem;
  height: 34.5rem;
  display: block;
  border: 1px solid black;
  margin: 0.2rem auto;
}

.display {
  height: 9rem;
  margin: 0.5rem;
  border: 1px solid black;
}

.displayes {
  height: 4.5rem;
  width: 100%;
  text-align: end;
}

.upperDisplay {
  font-size: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  color: rgb(73, 68, 68);
}

.mainDisplay {
  font-size: 3rem;
}

.keyboard {
  max-width: 27rem;
  max-height: 24rem;
  height: 100%;
}

.key {
  height: 4.5rem;
  margin: 0.15rem 0.25rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin: 0rem 0.25rem;
}

#zero {
  width: 59rem;
}