// variables

// $backgroundMainColor: rgba(253, 151, 18, 0.6);
$backgroundMainColor: rgba(253, 151, 18, .8);
// $backgroundMainColor: #ff6d18;

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Patrick Hand', cursive;
    font-weight: 300;
}

body {
    background-color: $backgroundMainColor;
}

main {
    display: flex;
    flex-direction: row;
}

li, ul, ol, a {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.input {
    height: 1rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin: .1rem auto .4rem auto;
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    outline: none;
}

.btn {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid gray;
    margin-bottom: .5rem;
    &:hover {
        background-color: gray;
    }
}

// font-family: 'Abril Fatface', cursive;
// font-family: 'MonteCarlo', cursive;
// font-family: 'Patrick Hand', cursive;
// font-family: 'Tangerine', cursive;

// Scrollbar

::-webkit-scrollbar {
    width: .65rem;
}
::-webkit-scrollbar-track {
    background: $backgroundMainColor;
}
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: black;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}