#display {
  text-align: center;
  padding-bottom: .5rem;
}

#timer-label {
  font-size: 2.5rem;
//   background-color: green;
border: 3px solid white;
  border-radius: 5rem;
  margin-bottom: .5rem;
}

#time-left {
  font-size: 6rem;
//   background-color: red;
  border-radius: .5rem;
}
