* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
}

body {
    background-color: white;
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

header h2 {
    font-size: .85rem;
    font-weight: 400;
    color: rgba(20, 20, 20, 1);
    padding: .5rem;
}

header svg {
    width: 1.75rem;
    opacity: .6;
    padding: .5rem;
}
header img {
    max-width: 2.5rem;
    border-radius: 5rem;
}

/* Main */

.container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

h6 {
    font-size: .8rem;
    font-weight: 300;
    text-align: center;
}
span {
    color: darkblue;
}
span:hover {
    text-decoration: underline;
}

main .others {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8rem;
    padding-bottom: 3rem;
}

main .others img {
    max-width: 3.25rem;
}

main .others a {
    text-decoration: none;
}

main .others a:hover {
    text-decoration: underline;
}

.btns {
    padding: 2rem;
    align-content: center;
    text-align: center;
}
.button {
    padding: .5rem 1rem;
    background-color: rgba(240, 240, 240, 1);
    border: none;
}

main img {
    width: 17rem;
    padding-left: 11.5rem;
}

main .search .bar {
    border: 1px solid grey;
    border-radius: 2rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
}

main .search .bar input {
    border: none;
    width: 31rem;
    font-size: 1rem;
    font-weight: 300;
}
main .search .bar input:focus {
    outline: none;
}

main .search .bar img {
    width: 2rem;
    max-width: 2rem;
    padding: .75rem 0;
    margin: 0;
    opacity: .5;
}

main .search .bar svg {
    width: 1.5rem;
    max-width: 2rem;
    padding: .5rem;
    padding-left: 1rem;
    margin: 0;
    opacity: 0.55;
}

main .search .bar svg:hover {
    transform: scale(1.05);
    opacity: .8;
}
main .search .bar img:hover {
    transform: scale(1.02);
    opacity: .8;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
}

hr {
    /*border-top: 1px solid rgba(223, 223, 223, 0.774);*/
    height: 1px;
    border: none;
    color: grey;
    background-color: #dddddd;
}

footer h4 {
    color: rgba(100, 100, 100, 1);
    font-size: .9rem;
    font-weight: 400;
}

footer a {
    color: rgba(100, 100, 100, 1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .country {
    margin: auto auto;
    justify-content: center;
    padding: .9rem;
    display: flex;
}

footer .contain {
    max-width: 550px;
    margin: auto auto;
}

footer .about { 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

footer .about h4 {
    padding: .9rem;
}
