* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
}

body {
    background-color: white;
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

header h2 {
    font-size: .85rem;
    font-weight: 400;
    color: rgba(20, 20, 20, 1);
    padding: .5rem;
}

header svg {
    width: 1.75rem;
    opacity: .6;
    padding: .5rem;
}
header img {
    max-width: 2.5rem;
    border-radius: 5rem;
}

/* Main */

.container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

main img {
    width: 17rem;
}

main .others img {
    max-width: 3.25rem;
}
main .others {
    font-size: .8rem;
}

main .others a {
    text-decoration: none;
}

main .others a:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
}

hr {
    /*border-top: 1px solid rgba(223, 223, 223, 0.774);*/
    height: 2px;
    border-width: 0;
    color: grey;
    background-color: grey;
}

footer h4 {
    color: rgba(100, 100, 100, 1);
    font-weight: 300;
}

footer a {
    color: rgba(100, 100, 100, 1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .country {
    margin: auto auto;
    justify-content: center;
    padding: 1rem;
    display: flex;
}

footer .contain {
    max-width: 550px;
    margin: auto auto;
}

footer .about { 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

footer .about h4 {
    padding: 1rem;
}
