.footer {

    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

        @include breakpoint-up(large){
            display:grid;
            grid-template-columns: repeat(3, 1fr), 2fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
            "logo col1 col2 cta"
        "social col1 col2 copyright";
        gap: 1rem;
        justify-items: start;
    }
    
    &__logo {
        display:inline-block;
        
        @include breakpoint-down(medium) {
            padding-bottom: 1.875rem;
        }
        
        @include breakpoint-up(large){
            grid-area: logo;
        }
    }
    
    &__social {
        @include breakpoint-down(medium) {
            padding-bottom: 1.875rem;
        }
        
        a {
            display: inline-block;
            height: 1.25rem;
            
            svg path {
                transition: fill 100ms ease-in-out;
            }
            
            &:hover svg path{
                fill: $limeGreen;
            }
        }
        a:not(:last-child) {
            margin-right: 1rem;
        }
        
        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }
        
    }
    
    
    a {
        transition: color 150ms;
    }
    
    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            color: white;
            font-size: $fontMsmall;
            font-weight: 100;
            line-height: 2.25;
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: $limeGreen;
        }
    }
    .col1 {
        @include breakpoint-up(large){
            grid-area: col1;
        }
    }
    .col2 {
        @include breakpoint-down(medium) {
            padding-bottom: 1.8rem;
        }
        @include breakpoint-up(large){
            grid-area: col2;
        }
    }
    
    &__cta {
        @include breakpoint-up(large){
            grid-area: cta;
            justify-self: end;
            text-align: right;
        } 
        
        @include breakpoint-down(medium) {
            padding-bottom: 1.8rem;
        }
    }
    
    &__copyright {
        font-size: $fontMsmall;
        color: $grayishBlue;
        
        @include breakpoint-up(large){
            grid-area: copyright;
            justify-self: end;
            text-align: end;
        } 
    }
}