h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

label {
    font-size: 1.75rem;
}

fieldset {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
  width: 15rem;
  padding: 0.5rem;
}

.playerNames {
    input {
        border-radius: 2rem;
        border: 1px solid gray;
        height: 2rem;
        width: 10rem;
        font-size: 1.8rem;
        padding-left: .5rem;
        outline: none;
      }
      .buttons {
        width: 100%;
        font-size: 1.5rem;
        margin-top: .5rem;
        padding-left: 0rem;
        box-shadow: black 1px 1px;
        &:hover {
          box-shadow: white 2px 2px;
          cursor: pointer;
          outline: none;
        }
        &:active {
          box-shadow: black -1px -1px;
        }
  }
}