*,
body {
   margin: 0;
}



body {
   margin-bottom: 5rem;
   background-color: rgb(110, 110, 110);
   font-family: 'IBM Plex Serif', serif;
}

.hidden {
   display: none;
}

header {
   width: 100vw;
   height: 4rem;
   background-color: rgba(0, 0, 0, 0.71);
   text-align: center;
}

header h1 {
   padding-top: 0.25rem;
}

a {
   font-size: 1.75rem;
   margin: 2rem auto;
   text-align: center;
   text-decoration: none;
   color: rgba(255, 255, 255, 0.71);
}

#cvCalculator {
   max-width: 90%;
   width: 32rem;
   margin: auto;
}

#cvCalculator h2 {
   font-size: 2rem;
   text-align: center;
   margin: 1rem;
   color: rgba(255, 255, 255, 0.71);
}

#calcArea {
   display: grid;
}


#inputs {
   width: 18rem;
   margin: auto;
   font-size: 1.5rem;
   align-items: center;
}

#inputs .inputsDiv {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   padding: 0.25rem;
}


#inputs #damageInput,
#inputs #rateInput {
   font-size: 1.5rem;
   width: 5rem;
   border-radius: .125rem;
   background-color: rgba(255, 255, 255, 0.71);
}

#CVResult {
   /* border: 2px solid red; */
   font-size: 3rem;
   margin: auto;
}

/* CV Result Slides */

#slideDiv {
   width: 100%;
   /* max-width: 32rem; */
   display: flex;
   flex-flow: nowrap row;
   justify-content: center;
}

.slides {
   margin: auto;
   margin: 0;
   margin-top: 1rem;
   width: 5rem;
   height: 1rem;
   border-radius: 1rem;
}

#slide1 {
   border: 4px solid white;
}

#slide2 {
   border: 4px solid blue;
}

#slide3 {
   border: 4px solid rgb(0, 100, 0);
}

#slide4 {
   border: 4px solid yellow;
}

#slide5 {
   border: 4px solid red;
}

#slide6 {
   border: 4px solid purple;
}


#label {
   width: 100%;
   font-size: 2rem;
   text-align: center;
   margin: .75rem auto;
}

/* Desktop styles */

@media screen and (min-width: 600px) {
   #cvCalculator h2 {
      margin: 2rem;
   }

   #calcArea {
      grid-template-columns: 21rem 11rem;
   }

   .slides {
      margin-top: 3rem;
   }

   #CVResult {
      margin: auto;
   }
}