* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* WHITE:rgb(245, 245, 245)
BLACK: rgb(48, 48, 48)
LIGHT-GRAY: rgb(196, 195, 195) */

/* gen2 colors
    black: black
    white: white
    medium-gray: #5d5e60
*/

/* Header */

.navbar {
    border-bottom: .23rem white solid;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    text-decoration: none;
}
.header:active, .header:visited {
    text-decoration: none;
}

#franco-icon {
    height: 3rem;
    /* height: 3.5rem; */
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 2.25rem;
    /* font-size: 3rem; */
    color: rgb(245, 245, 245);
    padding-left: 1.2rem;
}

@media only screen and (min-width: 768px) {
    #franco-icon {
        height: 3.5rem;
    }
    h1 {
        font-size: 3rem;
    }
    .header {
        height: 4.25rem;
    }
}