/* Main Body */

.main {
    /* background-color: rgb(179, 179, 179); */
    background-color: #5d5e60;
    margin-top: 2rem;
    padding-top: 2rem;
    min-height: 95vh;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.33rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    padding-top: .5rem;
}

h4 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    margin: auto;
    font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {

}