* {
   margin: 0;
   padding: 0;
   font-size: 16px;
}

html,
body {
   max-width: 100%;
   overflow-x: hidden;
}

/* WHITE:rgb(245, 245, 245)
BLACK: rgb(48, 48, 48)
LIGHT-GRAY: rgb(196, 195, 195) */

/* gen2 colors
    black: black
    white: white
    medium-gray: #5d5e60 */


/* Main Body */

.main {
   /* background-color: rgb(179, 179, 179); */
   /* background-color: #5d5e60; */
   background-color: #4e4e4e;
   margin-top: 2rem;
   padding-top: 2rem;
   min-height: 95vh;
}

a,
h2,
h3 {
   font-family: 'Inconsolata', monospace;
   text-align: center;
   color: rgba(255, 255, 255, 0.8);
   text-decoration: none;
}

h2 {
   font-weight: 400;
   font-size: 2rem;
   margin-top: 2rem;
   margin-bottom: 1.33rem;

}

h3 {
   font-size: 1.5rem;
   font-weight: 500;
   padding-top: .5rem;
}