*, body {
    overflow: hidden;
}

.pedido-online-link {
    display: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
    text-decoration: underline;
}

.pedido-online-link:active, .pedido-online-link:visited {
    text-decoration: none;
    color: white;
}

.pedido-online-link:hover {
    text-decoration: underline;
}

.pedido-online-container {
    padding-top: 1rem;
    margin: 0 auto;
    text-align: center;
    width: 98%;
    max-width: 50rem;
}

#iframe-pedido-500 {
    display: none;
}
#iframe-pedido-350 {
    display: none;
}

@media only screen and (min-width: 900px) {
    .pedido-online-link {
        display: block;
    }
}
@media only screen and (min-width: 600px) {
    #iframe-pedido-400 {
        display: none;
    }
    #iframe-pedido-500 {
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    
    #iframe-pedido-350 {
        display: block;
        margin: auto;
    }
}