* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* WHITE:rgb(245, 245, 245)
BLACK: rgb(48, 48, 48)
LIGHT-GRAY: rgb(196, 195, 195) */

/* gen2 colors
    black: black
    white: white
    medium-gray: #5d5e60
*/

/* Header */

.navbar {
    border-bottom: .23rem white solid;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    text-decoration: none;
}
.header:active, .header:visited {
    text-decoration: none;
}

#franco-icon {
    height: 3rem;
    /* height: 3.5rem; */
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 2.25rem;
    /* font-size: 3rem; */
    color: rgb(245, 245, 245);
    padding-left: 1.2rem;
}

@media only screen and (min-width: 768px) {
    #franco-icon {
        height: 3.5rem;
    }
    h1 {
        font-size: 3rem;
    }
    .header {
        height: 4.25rem;
    }
}

/* Main Body */

.main {
    /* background-color: rgb(179, 179, 179); */
    background-color: #5d5e60;
    margin-top: 2rem;
    padding-top: 2rem;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1.33rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    padding-top: .5rem;
}

h4 {
    margin: auto;
    font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {

}

/* Burgers Slide */


.cardapio, .pedido-online-link {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
}

.cardapio:active, .cardapio:visited,.pedido-online-link:active, .pedido-online-link:visited {
    text-decoration: none;
    color: white;
}

.cardapio:hover, .pedido-online-link:hover {
    text-decoration: underline;
    font-size: 2.6;
}

.burguers {
    width: 92%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 40rem;
    border-radius: 1.5rem;
}

.burguerPic {
    /* max-width: 100%; */
    display: none;
    /* margin: 0 auto; */
}

.burguerImg {
    margin: 0 auto;
    border-radius: 1.5rem;
    /* width: 40rem; */
    max-width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    /* width: auto; */
    /* margin-top: -1.5rem; */
    padding: 2rem 1.5rem;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 1.25rem;
    transition: 0.6s ease;
    border-radius: 0 2.5rem 2.5rem 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 2.5rem 0 0 2.5rem;
}

.text {
    /* color: rgb(245, 245, 245); */
    color: white;
    font-size: 1.25rem;
    text-decoration: underline;
    bottom: 1.75rem;
    left: 50%;
    transform: translate(-50%);
    /* padding: .5rem .75rem; */
    position: absolute;
    /* bottom: 8px; */
    /* width: 100%; */
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
  }

.dots {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 .125rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: black;
    height: 1.125rem;
    width: 1.125rem;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes nextBackground {
    0% {background-color: rgba(0, 0, 0, 0.0);}
    50% {background-color: rgba(0, 0, 0, 0.6);}
    100% {background-color: rgba(0, 0, 0, 0.0);}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1;}
}

@media only screen and (min-width: 600px) {
    .dots {
        display:block;
    }
}
@media only screen and (min-width: 900px) {
    .numbertext {
        display: none;
    }
    
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, .6);     
    }
}



/* Location */

.maps {
    padding-bottom:1rem ;
}

.place-container{
    width: 22rem;
    margin: auto;
    /* border: .5rem rgb(196, 195, 195) solid; */
    border-radius: .5rem;
    background-color: rgb(48, 48, 48);
    color: rgb(245, 245, 245);
    margin-bottom: 2rem;
}

.map-container {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

p {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    text-align: center;
    padding: .5rem 1.5rem;
}

.adressParagraph {
    height: 3.2rem;
}

@media only screen and (min-width: 900px) {
    .maps {
        display: flex;
        margin: 0 auto;
        max-width: 50rem;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}

/* Footer */

.footer {
    /* border-top: .175rem black solid;
    background-color: rgb(196, 195, 195); */
    border-top: .175rem black solid;
    background-color: rgb(228, 228, 228);
    
}

.footer-container {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;

}

.links {
    padding-right: 1rem;
}

.icon {
    height: 2rem;
    margin: auto 0;
}

.phone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left:1rem;
}