* {
   box-sizing: border-box;
   scroll-behavior: smooth;
   padding: 0;
   margin: 0;
}

 body {
     font-family: 'Cutive Mono', monospace;
   //   overflow-x: hidden;
 }

@import "header";
@import "aboutme";
@import "projects";
@import "contact";