* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cutive Mono", monospace;
}

#mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.25rem;
  border-bottom: 2px solid red;
  background: rgb(185, 185, 185);
  padding: 1rem 0rem;
  z-index: 1;
}
@media only screen and (min-width: 900px) {
  #mainHeader {
    height: 5rem;
  }
}

h1 {
  font-size: 2rem;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  white-space: nowrap;
  color: #333;
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 2.75rem;
  }
}

.navLinkStyle,
.navLinkStyle:visited {
  text-decoration: none;
  color: #333;
}

.navLinkStyle:active,
.navLinkStyle:hover {
  text-decoration: underline;
}

.desktopMenu {
  margin-top: 0.55rem;
  margin-left: 2rem;
  font-size: 1.25rem;
}

.headerSocial {
  margin-right: 3.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 12rem;
}

@media only screen and (max-width: 1200px) {
  #navDesktop {
    display: none;
  }
}

#navSlash1,
#navSlash2,
#navSlash3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 2px;
  transition: 0.4s;
}

#mobileMenuButton {
  margin: auto 0.75rem;
  width: 30px;
}
@media only screen and (min-width: 1200px) {
  #mobileMenuButton {
    display: none;
  }
}

#navMobile {
  position: fixed;
  top: 4rem;
  transition: 0.4s;
  width: 100%;
  background-color: rgb(185, 185, 185);
  height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  #navMobile {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  #navMobile {
    height: 10.5rem;
  }
}

#navMobile a {
  font-size: 1.5rem;
  margin: 0.75rem;
}

.navMenuTransition {
  transform: translate(0px, -10.9999rem);
}

.change #navSlash1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}
.change #navSlash2 {
  opacity: 0;
}
.change #navSlash3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.hidden {
  display: none;
}

.aboutme {
  background: rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  text-align: left;
  color: white;
  font-family: "Cutive Mono", monospace;
  font-size: 1.1rem;
  white-space: nowrap;
  max-width: 20em;
}
@media only screen and (min-width: 900px) {
  .text {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .text {
    font-size: 2rem;
  }
}

.line1 {
  overflow: hidden;
  border-right: 2px solid rgb(35, 35, 35);
  width: 7.85em;
}

.line2 {
  overflow: hidden;
  border-right: 2px solid rgb(35, 35, 35);
  width: 19.45em;
}

.line3 {
  overflow: hidden;
  border-right: 2px solid rgb(35, 35, 35);
  width: 12.7em;
}

.line4 {
  overflow: hidden;
  border-right: 2px solid rgb(35, 35, 35);
  width: 17.45em;
}

.line5 {
  overflow: hidden;
  border-right: 2px solid rgb(35, 35, 35);
  width: 17em;
}

.line1 {
  animation: type1 1.04s steps(13) 2s 1 normal both, blinkTextCursor 1s 0s 2, textCursor 1.04s 2s 1, blinkTextCursor 500ms 3.04s 1;
}

.line2 {
  animation: type2 2.56s steps(32) 3.54s 1 normal both, textCursor 2.56s 3.54s 1, blinkTextCursor 500ms 6.1s 1;
}

.line3 {
  animation: type3 1.6s steps(21) 6.68s 1 normal both, textCursor 1.6s 6.68s 1, blinkTextCursor 500ms 8.2s 1;
}

.line4 {
  animation: type4 2.32s steps(29) 8.7s 1 normal both, textCursor 2.32s 8.7s 1, blinkTextCursor 1s 11.02s 3;
}

.line5 {
  animation: type5 2.32s steps(29) 13.72s 1 normal both, textCursor 2.42s 13.62s 1, blinkTextCursor 1s steps(13) 15.84s infinite;
}

@keyframes textCursor {
  0% {
    border-right-color: rgb(35, 35, 35);
  }
  1% {
    border-right-color: white;
  }
  99% {
    border-right-color: white;
  }
  100% {
    border-right-color: rgb(35, 35, 35);
  }
}
@keyframes blinkTextCursor {
  0% {
    border-right-color: rgb(35, 35, 35);
  }
  1% {
    border-right-color: rgb(35, 35, 35);
  }
  2% {
    border-right-color: white;
  }
  51% {
    border-right-color: white;
  }
  52% {
    border-right-color: rgb(35, 35, 35);
  }
  100% {
    border-right-color: rgb(35, 35, 35);
  }
}
@keyframes type1 {
  from {
    width: 0;
  }
  to {
    width: 7.9em;
  }
}
@keyframes type2 {
  from {
    width: 0;
  }
  to {
    width: 19.45em;
  }
}
@keyframes type3 {
  from {
    width: 0;
  }
  to {
    width: 12.7em;
  }
}
@keyframes type4 {
  from {
    width: 0;
  }
  to {
    width: 17.45em;
  }
}
@keyframes type5 {
  from {
    width: 0;
  }
  to {
    width: 17em;
  }
}
.window {
  height: 100vh;
  width: 100%;
}

.projects,
.project {
  background-color: rgba(221, 221, 221, 0.75);
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects h2,
.project h2 {
  font-size: 1.5rem;
}
@media only screen and (min-width: 900px) {
  .projects h2,
  .project h2 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 1200px) {
  .projects h2,
  .project h2 {
    font-size: 3rem;
  }
}
.projects a,
.project a {
  font-size: 1.25rem;
  color: black;
}
@media only screen and (min-width: 900px) {
  .projects a,
  .project a {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .projects a,
  .project a {
    font-size: 1.75rem;
  }
}
.projects a__:visited,
.project a__:visited {
  color: black;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.contact-social a__:visited {
  text-decoration: none;
  color: black;
}
.contact-social a:hover .icons {
  display: none;
}
.contact-social a:hover .gifs {
  display: inline-block;
}
@media only screen and (min-width: 1200px) {
  .contact-social a {
    font-size: 1.75rem;
  }
}

.gifs {
  display: none;
  width: 3.1rem;
}/*# sourceMappingURL=style.css.map */